body {
  font-family: $textFont;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 ,p, figure ,ul,ol,label,span,mark {
  font-family: $textFont;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  outline:none;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  cursor: pointer;
  
  &:focus {
      outline:none;
  }
}
