@charset 'utf-8';
:root {
  --white: #ffffff;
  --black: #000000;
  --color_1: #1cafc6;
  --color_2: #04AFF0;
  --color_3: #E6EDF2;
  --gray_1: #505050;
  --gray_2: #3d3d3d;
  --gray_3: #6f6f6f;
  --gray_4: #F4F6F7;

  // banner區 使用
  --content_h2_size: 28px;
  --content_h2_line_height: 150%;
  --content_p_size: 16px;
  --note: 15px;

  // section 區使用
  --img_shadow: 0px 12px 25px rgba(42, 70, 90, 0.10);
  --img_shadow_2: 0px 0px 6px rgba(42, 70, 90, 0.20);
  --img_shadow_3: 0px 10px 20px rgba(42, 70, 90, 0.10);
  --title: 28px;
  --title_strong: 16px;
  --title_txt_sub: 24px;
  --title_txt_sub_p: 20px;
  
  @include b768 {
    --content_h2_size: 48px;
    --content_h2_line_height: 140%;
    --content_p_size: 24px;
    --note: 18px;
    --title: 48px;
    --title_strong: 24px;
    
    // section 區使用
    --img_shadow: 0px 25px 51px rgba(42, 70, 90, 0.1);
    --img_shadow_2: 0px 0px 13px rgba(42, 70, 90, 0.20);
    --title_txt_sub: 32px;
    --title_txt_sub_p: 24px;
  }
  @include b1200 {
    --content_h2_size: 64px;
    --content_h2_line_height: 150%;
    --content_p_size: 28px;
    --note: 20px;
    --title: 64px;
    --title_strong: 28px;
    --title_txt_sub: 48px;
    --title_txt_sub_p: 28px;
    --img_shadow_2: 0px 0px 24px rgba(42, 70, 90, 0.20);
  }
}

$textFont: 'Noto Sans TC', sans-serif, '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial;
$h2_shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
$p_show: 0px 4px 4px rgba(0, 0, 0, 0.25);
$button_shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
$gradient: transparent linear-gradient(90deg, #03aff0 0%, #9438cc 100%) 0% 0% no-repeat padding-box;